<h2>User List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.emailId}}</td>
            <td>
                <p *ngFor="let role of user.roles| keyvalue">{{role.value | json}}</p>
            </td>
            <td>
                <button (click)="updateUser(user.id)" class="btn btn-info">Update</button>
                <button (click)="deleteUser(user.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                <button (click)="userDatails(user.id)" class="btn btn-info" style="margin-left: 10px;">Details</button>

            </td>


        </tr>


    </tbody>
</table>